.filter-container {
  background: #F7AF8A !important;
  margin: 50px 50px 50px 50px !important;
  border-radius: 0px !important;
}

.submit-button {
  color: #ffffff !important;
  background: #FFD08D !important;
  border-color: #FFD08D !important;
  border-radius: 0px !important;
}

.submit-button:hover {
  color: #FFD08D !important;
  border-color: #ffffff !important;
  background-color: #ffffff !important;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
