.divider {
  height: 5px;
  width: 100%;
  background: #F7AF8A;
  border-radius: 10px;
}

.panel {
  color: #5595CD;
  margin: 25px 5em 1vh 5em;
  padding: 25px;
  outline-style: dashed;
  outline-width: 10px;
  outline-color: #FFD08D;
  height: 85vh;
}

.panel-header {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 40px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #5595CD;
}

.center {
  text-align: center;
}

.feed {
  margin: 3vh 0 1vh 0;
  color: #5595CD;
}

.head-h2 {
  margin-top: 0px !important;
  margin-left: 5px;
}

.tweet-info {
  padding-left: 10px !important;
  text-align: right;
}

.scrolling {
  margin-top: 16px !important;
  display: block !important;
  height: 87vh;
  overflow-y: scroll !important;
}

.scrolling::-webkit-scrollbar {
  width: 5px;
}

.scrolling::-webkit-scrollbar-thumb:hover {
  background: #5595CD;
}

.scrolling::-webkit-scrollbar-track {
  visibility: hidden;
}
