.grid {
	display: grid;
  grid-gap: 15px;
	grid-template-columns: 25% 75%;
  margin: 2em 3em 2em 2em;
  overflow: hidden;
}

.filter {
  grid-column: 1 / -1;
  margin-bottom: 1%;
}

.wrapper {
  width: 92%;
  margin: 0 auto;
  padding: 1em;
}

.content {
  padding: 10px;
  height: 70vh;
  color: #5595CD;
  overflow-y: scroll;
}

.divider {
  height: 5px;
  width: 97%;
  margin: 0 auto;
  background: #F7AF8A;
}

.display-grid {
  display: grid;
  grid-column: 3 / 2;
  grid-template-columns: 50% 50%;
  margin: 1em 1em 1em 1.5em;
  grid-gap: 15px;

}

.info {
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: 20% 20%
}

.user {
  display: flex;
  align-items: center
}

.head-img {
  float: left;
  margin-right: 5px;
}

.head-h2 {
  float: left;
}

.pic {
  width: 25%;
  padding: 5px
}

.pic:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.map {
  margin-top: 11px;
  grid-column: 2 / 3;
  width: 97%;
  height: 25em;
}

.marker {
  height: 30px;
  cursor: pointer;
  transition: all 1s;
}

.marker:hover {
  transform: scale(1.6);
}

.submit-button {
  color: #5595CD !important;
  background: #FFD08D !important;
  border-color: #FFD08D !important;
  border-radius: 0px !important;
  width: 100% !important;
}

.popup {
  height: 80px;
}

.submit-button:hover {
  color: #F7AF8A !important;
  border-color: #ffffff !important;
  background-color: #ffffff !important;
}

.content::-webkit-scrollbar {
  width: 0.7em;
}

.content::-webkit-scrollbar-thumb:hover {
  background: #5595CD;
}

.content::-webkit-scrollbar-track {
  visibility: hidden;
}
