.navbar {
  background: #5595CD !important;
  border-radius: 0px !important;
}

.logo {
  width: 120px;
  height: 30px;
  background: #FFD08D;
}

.nav-button {
  color: #ffffff !important;
  background: #5595CD !important;
  border-color: #ffffff !important;
  border-radius: 0px !important;
}

.nav-button:hover {
  color: #ffffff !important;
  background-color: #FFD08D !important;
  border-color: #FFD08D !important;
}
