.navbar {
  background: #5595CD !important;
  border-radius: 0px !important;
}

.logo {
  width: 65px;
  height: 55px;
  margin: 4px 10px 0 10px;
}

.nav-button {
  color: #ffffff !important;
  background: #5595CD !important;
  border-color: #ffffff !important;
  border-radius: 0px !important;
}

.nav-button:hover {
  color: #ffffff !important;
  background-color: #FFD08D !important;
  border-color: #FFD08D !important;
}
